.sliderMonty {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%);
  width: 45rem;

  @media (max-width: 1200px) {
    width: 50%;
    top: 65%;
  }

  @media (max-width: 600px) {
    width: 100%;
    margin-top: -80px;
  }
}
