/* general */
/* fonts */
font-family: 'Akronim', cursive;
font-family: 'Rye', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Fontdiner Swanky', cursive;


*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(./image/645509_1680_1050.jpg);
    object-fit: contain;
    background-attachment: fixed;
    background-repeat: ;
    font-family: 'Rye', cursive;
    
}

h1{
    font-family: 'Rye', cursive;
    letter-spacing: 4px;
    font-size: 50px;
    margin: auto;
}
nav{
    font-family: 'Rye', cursive;
    
}
.navbar-toggler-icon{
    height: 50px;
    width: 50px;
    background-image:url(/image/monty5.gif);
    border-radius: 50%;
    
}
.navbar-toggler-icon{
    transition: 2s;
}
.navbar-toggler-icon:hover{
    filter: sepia(100%);
    transform: rotate(70deg);
    border: solid 2px;
    
}
.nav-item{
    margin-left: 20px;
    margin-top: auto;
}
.nav-link{
    font-size: 20px;
}
.nav-item a{
    transition: 2s;
}
.nav-item a:hover{
    filter: sepia(100%);
    transform: scale(1.2);
    
}

.nav-link img{
  transition: 2s;
  
  
}
.nav-link img:hover{
  filter: sepia(100%);
  transform: scale(0.3);
  
}
.navbar-brand{
    font-size: 30px;
}
.nav-item.nav-link-active{
    filter: none;
    transform: scale(2);
   
    
}


.test{
   
}
.card{
    width: auto;
    margin-left: auto;
   
}
@media (min-width:400px){
 div.card-img-overlay.fluide{
        width: 360px;
        height: 600px;
    }
}
@media (min-width:400px){
    div.card{
           width: 360px;
           height: 600px;
       }
   }
   @media (min-width:350px){
    div.card-img-overlay.fluide{
           width: 310px;
           height: 550px;
       }
   }
   @media (min-width:350px){
       div.card{
              width: 310px;
              height: 550px;
          }
      }
      @media (max-width:400px){
          a.nav-link{
              width: auto;
              height: auto;
          }
      }
      @media (max-width:400px){
        a.nav-link-img{
            width: auto;
            height: auto;
        }
    }


.card-img{
    display: block;
    width:auto;
    height: auto;
    object-fit: contain;
     
}

.card-img-overlay{
    border: black solid 0;
    border-radius: 20px;
    box-shadow: black 10px 10px 10px;
    margin-bottom: 10px;
    width: auto;
    object-fit: contain;
}
.card-img-overlay-fluide{
    height: auto;
    border-radius: 20px;
}
footer{
    bottom: 0;
    width: auto;
    
}