/* general */
/* fonts */
font-family: 'Akronim', cursive;
font-family: 'Rye', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Fontdiner Swanky', cursive;


*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(./image/645509_1680_1050.jpg);
    object-fit: contain;
    background-repeat: ;
    
}

h1{
    font-family: 'Rye', cursive;
    letter-spacing: 4px;
    font-size: 50px;
    margin: auto;
}
nav{
    font-family: 'Rye', cursive;
    
}
.nav-item{
    margin-left: 10px;
    z-index: 2;
}
.nav-link{
    font-size: 22px;
}
.nav-item a{
    transition: 1s;
}
.nav-item a:hover{
    filter: sepia(100%);
    transform: scale(1.1);
}

.nav-link img{
  transition: 1s;
  
  
}
.nav-link img:hover{
  filter: sepia(100%);
  transform: scale(1);
}
.navbar-brand{
    font-size: 30px;
}
.nav-link-active{
    filter: sepia(0);
}


.test{
    object-fit: contain;
}
.card{
    width: 400px;
    margin-left: 80px;
   
}

.card-img{
    display: block;
    width:500px;
    height: 100%;
    
     
}

.card-img-overlay{
    border: black solid 2px;
    border-radius: 10px;
    box-shadow: black 10px 10px 10px;
    margin-bottom: 10px;
    width: 500px;
    
    
    
}
.card-img-overlay-fluide{
    height: 800px;
}
footer{
    bottom: 0;
    width: auto;
    
}