@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

$font-1: "Rye", sans-serif;

$color-1: #61dafb;
$color-2: rgb(231, 34, 12);
$color-3: #282c34;
$color-4: #4fedd2;
$color-5: #36d0ea;
$color-6: rgb(238, 238, 70);
$color-7: #2a1d52;
$color-8: #6c77f4;
$color-9: rgb(99, 164, 233);
$white: #ddd;
$black: #333;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/images/fondprincipe.webp) top/cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  font-family: $font-1;
  overflow-x: hidden;
  display: block;

  @media screen and (max-width: 600px) {
    height: 70vh;
  }

  // @include verticalCenter;
}

li {
  list-style-type: none;
}
