.counter-container {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-2;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  #timeactu {
    color: $color-2;
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    #stop,
    #start {
      background-color: rgb(240, 146, 93);
      margin-bottom: 1.5rem;
      font-size: 1em;
      font-family: $font-1;
      height: 5rem;
      width: 5rem;
      border: red solid 2px;
      border-radius: 50%;
      box-shadow: 10px 5px 5px red;
      cursor: pointer;
    }
  }
}
